.registration {
  overflow: auto;
  position: relative;
  min-height: 100vh;

  .decorations {
    position: absolute;
    overflow: hidden;

    &.top-left {
      left: 0;
      top: 0;
    }

    &.bottom-right {
      right: 0;
      bottom: 0;
      padding-left: 39px;
    }

    .background {
      display: block;
    }

    .decoration {
      position: absolute;
    }

    .dot {
      position: absolute;
      background-color: #F9C669;
      border-radius: 1000px;
    }
  }

  .section-indicator {
    width: 60%;
    position: absolute;
    left: 20%;
    top: 60px;
  }

  .section-container {
    position: relative;
    margin-top: 160px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 1px; // to prevent margin collapse
    // padding-bottom: 100px;

    .button {
      background-color: #F15C4B;
      color: white;
      padding: 6px 14px;
      font-weight: 600;
      font-size: 1em;
      font-family: inherit;
      border: none;
      border-radius: 1000px;
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;

      .right-icon {
        margin-left: 10px;
      }

      &.next {
        position: absolute;
        top: 430px;
        // bottom: 50px;
        right: 320px;
      }
    }
  }
}
