@import 'common.scss';

.registration {
  overflow: auto;
  position: relative;
  min-height: max(100vh, 650px);

  .logo {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
    width: 110px;
  }

  .decorations {
    position: absolute;
    overflow: hidden;

    &.top-left {
      left: 0;
      top: 0;
      transform-origin: top left;
    }

    &.bottom-right {
      right: 0;
      bottom: 0;
      padding-left: 39px;
      transform-origin: bottom right;
    }

    .background {
      display: block;
    }

    .decoration {
      position: absolute;
    }

    .dot {
      position: absolute;
      background-color: #F9C669;
      border-radius: 1000px;
    }
  }

  .section-indicator {
    width: 60%;
    position: absolute;
    left: 20%;
    top: 60px;

    @media screen and (max-width: 1065px) {
      left: 22%;
      width: 75%;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .section-container {
    position: relative;
    margin-top: 125px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 1px; // to prevent margin collapse

    .buttons {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      padding-right: 310px;

      @media screen and (max-width: 1300px) {
        padding-right: 200px;
      }

      @media screen and (max-width: 900px) {
        padding-right: 160px;
      }

      @media screen and (max-width: 1065px) and (min-height: 1000px) {
        padding-right: 0;
      }

      .button {
        background-color: #F15C4B;
        color: white;
        padding: 6px 14px;
        font-weight: 600;
        font-size: 1em;
        font-family: inherit;
        border: none;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        outline: none;
        cursor: pointer;

        .arrow-icon {
          width: 7px;
          transform: scale(1.1);
        }

        &.right .arrow-icon {
          margin-left: 10px;
        }

        &.left {
          margin-right: 10px;

          .arrow-icon {
            transform: rotate(180deg) scale(1.1);
          }

          .text {
            display: none;
          }
        }

        &.hidden {
          visibility: hidden;
        }

        &.disabled {
          cursor: not-allowed;
          background-color: #6D7072;
        }

        &.loading {
          cursor: not-allowed;
        }
      }
    }
  }

  .bottom-decoration-filler {
    display: none;
  }

  @media screen and (max-width: 1300px) {
    .section-container {
      margin-left: 160px;
      margin-right: 160px;
    }

    .decorations {
      &.top-left {
        transform: scale(.9);
      } 
      &.bottom-right {
        transform: scale(.7);
      }
    }

    .logo {
      width: 100px;
    }
  }

  @media screen and (min-height: 900px) {
    .section-container {
      margin-top: 150px;
    }

    .section-indicator {
      top: 85px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .section-container {
      margin: 0 15px;
      padding: 0 35px;
      @media screen and (max-width: 480px) {
        padding: 0;
      }

      .buttons {
        padding-right: 0;
        justify-content: space-between;

        .button.left {
          .arrow-icon {
            margin-right: 10px;
          }

          .text {
            display: inline;
          }
        }
      }
    }

    .bottom-decoration-filler {
      display: block;
      height: 300px;
    }

    .decorations.top-left {
      transform: scale(.7);
    }

    .logo {
      width: 80px;
      top: 15px;
    }
  }

  @media screen and (min-width: 1600px) and (min-height: 850px) {
    font-size: 1.25em;
  }
}
