.scheduler {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .logo-container {
    width: 100px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    z-index: 1;
    @media screen and (max-width: 500px) {
      width: 80px;
    }
    @media screen and (max-width: 350px) {
      width: 70px;
    }

    img {
      width: 100%;
    }
  }

  .date-range {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    @media screen and (max-width: 500px) {
      left: 20px;
      font-size: 16px;
    }
    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
    @media screen and (max-width: 350px) {
      left: 7px;
      font-size: 13px;
    }
  }

  .nav-button {
    color: #3C519C;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;

    &.next {
      right: 10px;
    }

    &.prev {
      right: 45px;
    }
  }

  .event-header {
    white-space: nowrap;
  }
}
