@import 'common.scss';

.schedule {
  --top-left-width: 425px;
  --top-left-scale: 1;

  .top-left-decoration {
    width: var(--top-left-width);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform-origin: top left;
    transform: scale(var(--top-left-scale));
    user-select: none;

    img {
      width: 100%;
    }
  }

  .mobile-decoration {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #3C519C;
    overflow: hidden;

    .dot {
      border-radius: 100px;
      background-color: #F9C669;
      position: absolute;
    }
  }

  .calendar-container {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transform: scale(var(--top-left-scale));

    .month {
      font-weight: 600;
      font-size: .875em;
      margin-left: 6px;
      z-index: 1;
    }

    .week {
      display: flex;
      font-size: 1.125em;
      // margin: 7px 0;
      margin-bottom: 14px;
      font-weight: 500;
      // justify-content: space-between;
      // width: 175px;

      .day {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin-right: 10px;
        color: rgba($color: #ffffff, $alpha: .6);
        border-radius: 100px;
        &.clickable {
          color: white;
          cursor: pointer;
        }
        &.selected {
          background-color: #5DBEBD;
        }
      }
    }

    .calendar {
      // width: 200px;
      margin: 0 15px;
      margin-top: 25px;
      position: relative;

      .rings {
        width: 100%;
        position: absolute;
        top: -15px;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        z-index: 2;

        .ring {
          width: 14px;
          height: 30px;
          background-color: #F9C669;
          border-radius: 100px;
        }
      }

      .content {
        width: 100%;
        // height: 185px; // temp
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        box-shadow: -6px 6px 8px rgba(0, 0, 0, 0.25);
        padding-bottom: 10px;

        .green {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #46959F;
          height: 55px;
        }

        .current-month {
          position: relative;
          z-index: 1;
          text-align: center;
          font-weight: 600;
          font-size: 1.3em;
          margin-top: 22px;
          text-transform: uppercase;
        }

        .day-of-week {
          color: black;
          text-align: center;
          margin-top: 18px;
          font-size: 1.3em;
          font-weight: 600;
        }

        .day-of-month {
          font-weight: 600;
          font-size: 5em;
          text-align: center;
          color: black
        }
      }
    }
  }

  .guide {
    --offset-top: 10px;
    top: calc(var(--top-left-width)* var(--top-left-scale) * 1.183 + var(--offset-top));
    position: absolute;
    left: 65px;

    h2 {
      font-size: 1.1em;
      font-weight: 600;
      margin: 0;
    }

    .event-type {
      display: flex;
      margin: 15px 0;

      .circle {
        border-radius: 100px;
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      .name {
        font-size: 1.1em;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .events-section {
    margin-left: calc(var(--top-left-width) * var(--top-left-scale) + 10px);
    margin-top: 75px;
    
    .heading {
      font-size: 1.3em;
      color: #46959F;
      font-weight: 600;
    }

    .events {
      margin-top: 25px;
      margin-right: 50px;

      .event {
        display: flex;
        align-items: center;
        min-height: 50px;
        // margin: 40px 0;
        margin-bottom: 35px;

        .times {
          font-weight: 500;
          text-align: right;
          // width: 115px;
          min-width: 115px;
          .start {
            font-size: 1.2em;
          }
          .end {
            font-size: .9em;
            color: rgba($color: #000000, $alpha: .5);
          }
        }

        .color-line {
          min-width: 6px;
          border-radius: 100px;
          margin: 0 20px;
          align-self: stretch;
        }

        .name {
          font-weight: 600;
          font-size: 1.1em;
        }

        .description {
          font-size: .9em;
          margin-top: 5px;
        }
      }
    }
  }

  @media screen and (max-height: 715px) {
    --top-left-scale: .9;
  }

  @media screen and (max-height: 660px), screen and (max-width: 1023px) {
    --top-left-scale: .81;
    .calendar-container {
      transform: scale(calc(var(--top-left-scale) * .95));
      left: 40px;
      top: 90px;

      .week {
        font-size: 1.3em;
        .day {
          margin-right: 12.5px;
        }
      }
      .month {
        font-size: 1.1em;
      }
    }
    .guide {
      font-size: .9em;
    }
  }

  @media screen and (max-height: 610px), screen and (max-width: 850px) {
    --top-left-scale: .75
  }

  @media screen and (min-height: 750px) {
    .guide {
      --offset-top: 25px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    --top-left-scale: 1;

    .top-left-decoration {
      display: none;
    }

    .mobile-decoration {
      display: block;
    }

    .calendar-container {
      left: 0;
      top: 80px;
      width: 100%;
      transform: none;
      .calendar {
        display: none;
      }
      .week, .month {
        width: 100%;
        max-width: 300px;
        // margin-left: auto;
        // margin-right: auto;
        margin: 5px auto;
      }
      .week {
        
        justify-content: space-between;
      }
    }

    .events {
      display: none;
    }
  }
}