@import 'common.scss';

.resources-page {
  position: relative;
  padding-top: 1px;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .decoration {
    position: absolute;
    transform: scale(.8);

    &.top-left {
      top: 0;
      left: 0;
      transform-origin: top left;
    }

    &.bottom-left {
      bottom: 0;
      left: 0;
      display: none;
      transform-origin: bottom left;
    }

    &.side {
      right: 0;
      top: 400px;
      transform-origin: right;
      // display: none;
    }

    &.book1 {
      top: 85px;
      right: 140px;
    }

    &.book2 {
      right: -10px;
      top: 200px;
    }

    &.paper {
      display: none;
    }
  }

  .category-select {
    display: none;
  }

  .container {
    margin-top: 225px;

    .category {
      transform-origin: top;
      
      h2 {
        text-align: center;
        font-weight: 600;
        margin-bottom: 40px;
      }

      .resources {
        display: flex;
        justify-content: center;
        padding: 0 10px;

        .resource {
          text-decoration: none;
          border-radius: 40px;
          overflow: hidden;
          position: relative;
          width: 300px;
          margin: 0 10px;
          filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.25));
          background-repeat: no-repeat;
          background-size: cover;

          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }

          h3 {
            position: absolute;
            bottom: 0;
            color: white;
            z-index: 1;
            // text-align: center;
            left: 0;
            width: 100%;
            font-weight: 600;
            font-size: 1em;
            padding-left: 20px;
            padding-bottom: 15px;
            @media screen and (max-width: 800px) {
              font-size: .95em;
            }
          }

          .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
            &.mobile {
              display: none;
            }
          }
        }
      }

      @media screen and (min-width: 1600px) {
        transform: scale(1.05);
      }

      @media screen and (min-width: 2000px) {
        transform: scale(1.15);
      }
    }
  }

  @media screen and (max-width: 900px) {
    .container {
      margin-top: 275px;
      font-size: .9em;

      .category .resources .resource h3 {
        padding-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .decoration {
      display: none;
      &.top-left {
        display: block;
        width: 103%;
        left: 0;
        transform: none;
        @media screen and (max-width: 500px) {
          width: 106%;
        }
      }
    }

    .category-select {
      display: block;
      margin: 0 30px;
      margin-top: 80px;
    }

    .container {
      margin: 25px 0;
      padding: 0 25px;
      @media screen and (max-width: 350px) {
        padding: 10px;
      }

      .category {
        h2 {
          display: none;
        }

        .resources {
          flex-direction: column;
          max-width: 400px;
          margin: 0 auto;

          .resource {
            width: auto;
            align-self: stretch;
            margin: 20px 0;

            &:after {
              padding-bottom: 70%;
            }

            h3 {
              font-size: 1em;
            }

            .wave {
              display: none;
              &.mobile {
                display: block;
                width: 400px;
              }
            }
          }
        }
      }
    }
  }
}