@import 'common.scss';

.home {
  --background-width: 0px;
  --background-height: 0px;
  position: relative;

  .dot {
    position: absolute;
    background-color: #F9C669;
    border-radius: 1000px;
  }

  .top {
    --decoration-vertical-shift: 0px;
    --content-vertical-shift: 0px;
    --content-size: .9;
    --decoration-size: 1;
    --mobile-decoration-size: 1;
    --mobile-decoration-vertical-shift: 0px;

    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-top: 1px;
    padding-bottom: 125px;

    @media screen and (min-height: 950px) and (min-width: 1600px) {
      --decoration-size: 1.1;
      --content-size: 1.1;
      --content-vertical-shift: 70px;
      padding-bottom: 100px;

      @media screen and (min-width: 2000px) {
        --decoration-size: 1.2;
        --content-size: 1.2;
        padding-bottom: 150px;
      }
    }

    @media screen and (max-height: 780px) {
      --decoration-vertical-shift: -20px;
      --content-vertical-shift: -25px;
      --decoration-size: .95;
      padding-bottom: 100px;
    }

    @media screen and (max-height: 720px) {
      --content-vertical-shift: -60px;
      --content-size: .9;
      --decoration-size: .85;
      padding-bottom: 75px;
    }

    @media screen and (max-height: 640px) {
      --content-vertical-shift: -100px;
      --content-size: .9;
      --decoration-size: .77;
      padding-bottom: 50px;
    }

    @media screen and (max-width: 1250px) {
      --decoration-vertical-shift: 0;
      --content-vertical-shift: -50px;
      --content-size: .8;
      --decoration-size: .82;
      padding-bottom: 75px;
    }

    @media screen and (max-width: 1000px) {
      --decoration-vertical-shift: 0;
      --content-vertical-shift: -90px;
      --content-size: .7;
      --decoration-size: .7;
      padding-bottom: 50px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      --mobile-decoration-size: 1.93;
      --content-vertical-shift: 300px;
      --mobile-decoration-vertical-shift: -50px;
      --content-size: .9;
    }
    
    @media screen and (max-width: 700px) {
      --mobile-decoration-size: 1.7;
      --content-vertical-shift: 230px;
    }

    @media screen and (max-width: 600px) {
      --mobile-decoration-size: 1.44;
      --mobile-decoration-vertical-shift: -40px;
      --content-vertical-shift: 160px;
      --content-size: .8;
    }

    @media screen and (max-width: 500px) {
      --mobile-decoration-size: 1.2;
      --mobile-decoration-vertical-shift: -20px;
      --content-vertical-shift: 100px;
      --content-size: .7
    }

    @media screen and (max-width: 400px) {
      --mobile-decoration-size: 1;
      --mobile-decoration-vertical-shift: 0px;
      --content-vertical-shift: 50px;
      --content-size: .65
    }

    @media screen and (max-width: 350px) {
      --mobile-decoration-size: .95;
      --content-vertical-shift: 30px;
      --content-size: .6;
    }

    .content {
      margin-top: calc(300px + var(--content-vertical-shift));
      margin-left: 82px;
      font-size: calc(var(--content-size) * 1em);
      position: relative;
      z-index: 5;
      color: #2C2C2C;
      @media screen and (min-width: 2000px) {
        margin-left: 200px;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        text-align: center;
        margin-left: 0;
      }

      .presents {
        text-transform: uppercase;
        font-size: 2.25em;
        font-weight: 600;
        margin-bottom: calc(var(--content-size) * 60px);
      }

      .title {
        text-transform: uppercase;
        font-size: 4.5em;
        font-weight: 800;
        margin: 0;
      }

      .tagline {
        font-size: 3em;
        font-weight: 500;
        margin: 0;
        margin-top: -10px;
      }

      .dates {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 15px;
      }

      .register-button {
        background-color: #F15C4B;
        border: none;
        color: white;
        font-size: 1.5em;
        padding: 15px 30px;
        font-weight: 600;
        font-family: inherit;
        border-radius: 100px;
        margin-top: 30px;
        display: inline-block;
        text-decoration: none;
      }

      @media screen and (max-width: $mobile-breakpoint) {
        .presents {
          font-size: 1.5em;
          margin-bottom: 4px;
        }

        .title {
          font-size: 4em;
        }

        .tagline {
          font-size: 2.25em;
          margin: 0;
        }

        .dates {
          font-size: 1.25em;
          font-weight: 600;
        }

        .register-button {
          padding: 8px 15px;
          margin-top: 20px;
        }
      }
    }

    .decoration-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      @media screen and (max-width: $mobile-breakpoint) {
        top: -9999px;
        left: -9999px;
      }

      .spacer {
        flex: 1;
        min-width: 227px;
      }

      .decorations {
        position: relative;
        margin-top: var(--decoration-vertical-shift);
        transform: scale(var(--decoration-size));
        transform-origin: top right;
        margin-left: calc(-1 * (1 - var(--decoration-size)) * var(--background-width));
        margin-bottom: min(calc(-1 * (1 - var(--decoration-size)) * var(--background-height)), -1px);
        user-select: none;
  
        .decoration {
          position: absolute;
        }
      }
    }

    .mobile-decorations {
      position: absolute;
      top: 0;
      display: none;
      margin-top: var(--mobile-decoration-vertical-shift);

      @media screen and (max-width: $mobile-breakpoint) {
        display: block;
        top: -15px;
        left: 50%;
        transform: scale(var(--mobile-decoration-size)) translateX(-50%);
        transform-origin: top left;
      }
      
      .decoration {
        position: absolute;
        transform-origin: top left;
      }
    }
  }

  .notes {
    margin-top: 50px;
    margin-bottom: 100px;

    .section-title {
      text-align: center;
      color: #2A3072;
      font-weight: 600;
      font-size: 1.25em;
    }

    .flex-container {
      display: flex;
      margin: 40px 100px;
      justify-content: space-between;
    }

    .note {
      display: flex;
      margin: 0 25px;
      width: 400px;

      .star {
        align-self: flex-start;
        width: 50px;
        margin-right: 15px;
      }

      .title, .subtitle {
        font-size: 1.2em;
        color: #46959F;
        margin: 5px 0;
      }

      .title {
        font-weight: 600;
        margin-top: 0;
      }

      .subtitle {
        font-weight: 500;
        height: 2.4em;
      }

      .text {
        white-space: pre-wrap;
      }
    }

    @media screen and (max-width: 1300px) {
      font-size: .95em;
      .flex-container {
        margin: 40px 50px;
      }
      .note {
        margin: 0 10px;
      }
    }

    @media screen and (max-width: 1000px) {
      font-size: .9em;
      .note .star {
        width: 45px;
      }
    }

    @media screen and (max-width: 900px) {
      font-size: .85em;
      .flex-container {
        margin: 40px 15px;
      }
      .note .star {
        width: 35px;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      margin-top: 25px;
      margin-bottom: 50px;

      .section-title {
        margin: 0 15px;
      }

      .flex-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
      }

      .note {
        width: 90%;
        margin: 15px 0;
        .subtitle {
          height: unset;
        }
      }
    }

    @media screen and (min-width: 1600px) {
      font-size: 1.15em;

      .flex-container {
        margin: 40px 150px;
      }

      .note {
        width: 500px;
        .star {
          width: 55px;
        }
      }
    }

    @media screen and (min-width: 2000px) {
      font-size: 1.25em;

      .flex-container {
        justify-content: center;
      }

      .note {
        margin: 0 35px;
      }
    }

    // @media screen and (min-width: 2000px) {
    //   font-size: 1.25em;
    //   .note {
    //     .star {
    //       width: 60px;
    //     }
    //   }
    // }
  }

  .info {
    background-color: #46959F;
    border-radius: 35px;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    max-width: 1800px;

    .content {
      background-color: #514F51;
      border-radius: 35px;
      padding: 20px 150px 45px 45px;
      box-sizing: border-box;
      color: white;
      font-size: .85em;
      @media screen and (min-width: 1600px) {
        font-size: 1em;
        padding-left: 60px;
        padding-right: 200px;
      }
      @media screen and (min-width: 2000px) {
        font-size: 1.1em;
      }
      @media screen and (max-width: 1000px) {
        font-size: .77em;
      }
      @media screen and (max-width: 900px) {
        padding-right: 100px;
      }

      h3, h4, p {
        max-width: 900px;
        @media screen and (min-width: 1600px) {
          max-width: 1150px;
        }
        @media screen and (min-width: 2000px) {
          max-width: 1300px;
        }
      }
      
      h3 {
        margin-top: 25px;
        margin-bottom: -10px;
        font-weight: 600;
        font-size: 1.85em;
      }

      p {
        font-size: 1.25em;
      }

      h4 {
        display: flex;
        align-items: center;
        font-size: 1.25em;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: -15px;

        img {
          width: 28px;
          margin-left: 5px;
        }
      }

      a {
        color: white;
      }
    }

    .decoration {
      position: absolute;

      &.star {
        top: 90px;
        right: 90px;
        @media screen and (max-width: 900px) {
          right: 50px;
        }
      }

      &.chalk {
        top: 275px;
        right: 10px;
      }

      &.eraser {
        bottom: 30px;
        right: 70px;
      }
    }

    .dot.mobile {
      display: none;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      width: 88%;
      margin-top: 50px;

      .content {
        font-size: .75em;
        padding: 30px 20px 60px 20px;
      }

      .decoration {
        transform: scale(.6);
        
        &.star {
          top: 10px;
          left: 90px;
          transform-origin: top left;
        }

        &.chalk {
          transform-origin: top right;
          top: 290px;
          @media screen and (max-width: 620px) {
            top: 330px;
          }
        }

        &.eraser {
          transform-origin: bottom right;
        }
      }

      .dot {
        display: none;
        &.mobile {
          display: block;
          transform: scale(1.25);
        }
      }
    }

    @media screen and (max-width: 575px) {
      width: 100%;
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px;

      .content {
        font-size: .725em;
        padding-top: 20px;

        h3 {
          font-size: 1.4em;
          margin-bottom: 0;
        }
      }
      
      .dot.mobile {
        transform: none;
      }

      .decoration.star {
        left: 50px;
      }

      .decoration.chalk {
        right: 0;
        top: 300px;
        @media screen and (max-width: 500px) {
          top: 350px;
        }
        @media screen and (max-width: 420px) {
          top: 390px;
        }
        @media screen and (max-width: 400px) {
          top: 410px;
        }
        @media screen and (max-width: 365px) {
          top: 420px;
        }
        @media screen and (max-width: 355px) {
          top: 440px;
        }
        @media screen and (max-width: 340px) {
          top: 480px;
        }
        @media screen and (max-width: 330px) {
          top: 500px;
        }
      }
    }
  }

  .middle-decoration {
    width: 100%;
    z-index: -1;
    position: relative;
    top: -600px;
    margin-bottom: -900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    user-select: none;

    img {
      width: 100%;
    }

    @media screen and (max-width: 1250px) {
      top: -400px;
      margin-bottom: -700px;
    }
    @media screen and (max-width: 1065px) {
      top: -325px;
      margin-bottom: -525px;
    }
    @media screen and (max-width: 800px) {
      top: -220px;
      margin-bottom: -400px;
    }
    @media screen and (max-width: 650px) {
      top: -170px;
      margin-bottom: -320px;
    }
    @media screen and (max-width: 550px) {
      top: -150px;
      margin-bottom: -300px;
      
      img {
        width: 550px;
      }
    }
    @media screen and (min-width: 1550px) {
      margin-bottom: -1000px;
    }
    @media screen and (min-width: 1800px) {
      top: -750px;
      margin-bottom: -1200px;
    }
    @media screen and (min-width: 2000px) {
      top: -850px;
      margin-bottom: -1350px;
    }
    @media screen and (min-width: 2300px) {
      top: -950px;
      margin-bottom: -1550px;
    }
    @media screen and (min-width: 2600px) {
      margin-bottom: -1650px;
    }
  }

  .faq {
    display: flex;
    font-size: .85em;
    @media screen and (max-width: 1000px) {
      font-size: .8em;
    }

    .questions {
      flex: 1;
      font-size: 1.25em;
      margin-bottom: 75px;
      max-width: 1000px;

      .title {
        display: none;
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 30px;
      }

      h4 {
        color: #3C519C;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
      }

      ul, ol {
        margin: 5px 0;
      }

      li {
        margin: 3px 0;
      }

      strong {
        font-weight: 600;
        color: #2C2C2C;
      }
    }

    .left {
      width: 300px;
      position: relative;

      img {
        display: block;
        margin: auto;
      }
    }

    .right {
      width: 300px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 1em;
      .questions {
        min-width: 1000px;
      }
      .left, .right {
        flex: 1;

        img {
          width: 200px;
        }
      }
    }

    @media screen and (min-width: 2000px) {
      font-size: 1.1em;
      .questions {
        max-width: 1100px;
        min-width: 1100px;
      }
    }

    @media screen and (min-width: 2250px) {
      .questions {
        max-width: 1300px;
        min-width: 1300px;
      }
      .left img {
        width: 235px;
        position: absolute;
        right: 125px;
      }
    }
    
    @media screen and (max-width: 1065px) {
      .left {
        width: 250px;
        img {
          width: 155px;
        }
      }

      .right {
        width: 100px;
      }
    }

    @media screen and (max-width: 850px) {
      .left {
        width: 200px;
        img {
          width: 140px;
        }
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      font-size: .75em;
      margin: 0 50px;
      @media screen and (max-width: 600px) {
        margin: 0 30px;
      }
      @media screen and (max-width: 450px) {
        margin: 0 20px;
      }

      .left, .right {
        display: none;
      }

      .questions .title {
        display: block;
      }
    }
  }

  .speakers {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    .section-title {
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 600;
      color: #3C519C;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .star {
        width: 45px;
        margin-right: 15px;
      }
    }

    .speaker {
      --image-size: 230px;
      display: flex;
      width: 90%;
      margin: 25px auto;

      .image {
        min-width: var(--image-size);
        width: var(--image-size);
        height: var(--image-size);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 200px;
        margin-right: 50px;
      }

      .name {
        margin: 0;
        font-size: 1.6em;
        font-weight: 400;
      }

      .title {
        margin: 0;
        font-weight: 600;
        font-size: 1em;
        color: #CF3F81;
        margin-top: 4px;
      }
    }

    @media screen and (min-width: 1600px) {
      font-size: 1.15em;
    }

    @media screen and (max-width: 1023px) {
      .speaker {
        --image-size: 200px;
      }
    }
    @media screen and (max-width: 900px) {
      font-size: .95em;
    }
    @media screen and (max-width: 850px) {
      width: 90%;
      .speaker {
        --image-size: 175px;
        .image {
          margin-right: 30px;
        }
      }
    }
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: .9em;
      .section-title {
        margin-bottom: 20px;
        .star {
          width: 40px;
        }
      }
      .speaker {
        --image-size: 150px;
        display: block;
        margin-top: 0;
        .image {
          margin-bottom: 15px;
        }
      }
    }
  }

  .team {
    max-width: 1600px;
    margin: auto;
    margin-top: 75px;
    width: 95%;

    .section-title {
      margin: auto;
      max-width: 1600px;
      margin-bottom: 20px;
      width: 80vw;
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 600;
      color: #3C519C;
      display: flex;
      align-items: center;
      .star {
        width: 45px;
        margin-right: 15px;
      }
    }

    .staff {
      // width: 113%;
      position: relative;
      // left: -6.5%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1100px;

      .member {
        margin: 15px 15px;

        .image {
          width: 130px;
          border-radius: 100px;
        }

        .name {
          font-size: 1.12em;
          font-weight: 600;
          color: #3C519C;
          margin: 0;
          text-align: center;
          margin-top: 5px;
        }
      }
    }

    @media screen and (min-width: 1600px) {
      .staff {
        max-width: 1400px;
        .member {
          margin: 10px 20px;
        }
      }
    }

    @media screen and (max-width: 912px) {
      .staff .member {
        margin: 10px 15px;
        .image {
          width: 110px;
        }
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      font-size: .9em;
      width: 100%;
      margin-top: 50px;
      .section-title {
        text-align: center;
        display: block;
        width: 100%;
        .star {
          display: none;
        }
      }
    }

    @media screen and (max-width: 610px) {
      .staff .member {
        margin: 10px;
        .image {
          width: 90px;
        }
      }
    }

    @media screen and (max-width: 500px) {
      .staff .member {
        margin: 10px 5px;
        .image {
          width: 75px;
        }
      }
    }
  }

  .sponsors {
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;

    .background-container {
      position: relative;

      .sponsors-background {
        width: 100%;
        max-width: 1100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .section-title {
      position: relative;
      top: 7vw;
      width: 80%;
      margin: auto;
      color: #3C519C;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.65em;
      max-width: 1600px;
      @media screen and (min-width: 1600px) {
        font-size: 1.8em;
      }
      @media screen and (max-width: 1023px) {
        top: 0;
        transform: translateY(100%);
      }
    }

    .box {
      position: absolute;
      top: min(27vw, 300px);
      left: 50%;
      transform: translateX(-50%);
      width: 65%;
      max-width: 730px;
      height: 40vw;
      max-height: 450px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.88);
      border-radius: 40px;

      .sponsor {
        margin: min(2.5vw, 30px) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 75%;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .box {
        width: 70%;
        .sponsor {
          img {
            width: 80%;
          }
        }
      }
    }


    @media screen and (max-width: $mobile-breakpoint) {
      .section-title {
        font-size: 1.3em;
      }

      .box {
        width: 75%;
      }
    }

    @media screen and (max-width: 500px) {
      .section-title {
        font-size: 1em;
        width: 85%;
      }
      .box {
        top: 26vw;
        width: 85%;
        height: 44vw;
        .dot {
          display: none;
        }
        .sponsor {
          margin: 2vw 0;
          img {
            width: 90%;
          }
        }
      }
    }

    @media screen and (max-width: 350px) {
      .section-title {
        top: -10px;
      }
    }
  }
}
