.welcome {
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
  
  h1 {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 50px;
  }

  p {
    font-size: 1.25em;
  }

  a {
    color: #46959F;
    font-weight: 700;
    text-decoration: none;
  }
}
