@import 'common.scss';

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px;
  z-index: 10;

  .logo {
    width: 160px;
  }

  .logoMobile {
    display: none;
    transform-origin: left top;
    width: 85px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 27px 20px;

    .logo {
      display: none;
    }

    .logoMobile {
      display: inline;
      transform: scale(1.25);
    }
  }

  @media screen and (max-width: 500px) {
    padding: 27px 10px;

    .logoMobile {
      transform: scale(1);
    }
  }
}
